@CHARSET "UTF-8";

a:LINK {
	text-decoration: none;
	color: blue;
}

a:VISITED {
	text-decoration: none;
	color: blue;
}

a:HOVER {
	text-decoration: none;
	color: purple;
}

.fileItem{
	background-color: #FFFFFF;
	padding: 10px;
	margin: 2px;
	margin-bottom: 10px;
	border-color: graytext;
	border-width: thin;
	border-style: solid;
}

.fileIcon{
	vertical-align: text-bottom;
	padding-right: 2px;
}

.primaryArrows{
	margin: 5px;
}

.loaderImg{
	float: right;
	position: relative;
	left: -40%;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

.tooltipSeparator.rich-separator{
	background-image: none !important;
	background-color: #E5973E;
}

.modal{
}

.controlPanelclass{
    vertical-align: top;
    height: 100%;
    width: 50%;
}

.topCommandLink{
   float:right;
   padding-bottom:5px;
   padding-left:5px;
   color: #FFF ! important;
}

.rightCommand{
   float:right;
}

.linkMenuBar a {
    color: #FFF;
}
/* customType = p */
.pname {
	vertical-align: top;
	font-weight: bold;
	width: 175px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.pvalue {
	float: left;
	padding: 5px;
	width: 255px;
}

.ptext{
	width: 100%;
}

.disabledLink{
	color: #7F9DB9 !important;
	/*color: #C0C0C0 !important;*/
}

.invalidRow{
	background-color: #E5E5E5;
	text-decoration: line-through;
}

.invalidRow.action{
	text-decoration: none;
}

.invalidRow.action a:LINK {
	text-decoration: none;
	/*color: #606060;*/
}

.nestedPanel{
	background-color:#FFFFFF;
}

.primaryRegionPanel{
	width: 450px;
}

.infoPanel{
	width: 450px; 
}

.summaryGrid{
	width: 100%;
	padding: 15px;
}

.summaryItem{
	display: table;
    width: 22%;
    float: left;
}

.summaryItem a:LINK{
	color: #474747;
}

.summaryItem a:VISITED{
	color: #474747;
}

.summaryItem a:HOVER{
	color: #171717;
	text-decoration: underline;
}

.messageBox{
	/*background-color: #FFFFFF;*/
	/* padding: 10px; */
	/* margin: 2px; */
	margin-bottom: 10px;
	/*
	border-color: graytext;
	border-width: thin;
	border-style: solid;
	*/
}

.columnName{
	width:200px;
	font-weight:bold";
}

.topColumn{
	vertical-align: top;
}


/*
.invalidRow.action.disabledLink a:LINK {
	text-decoration: none;
	color: #606060;
}
*/
/* --- */
.out
{
    float: left;
    margin-top: -200em;
    margin-left: -200em;
}

.controlPanelclassSX .rich-panel {
    height: 360px;
    overflow: auto;
    margin-right: 5px;	
}

.controlPanelclassDX .rich-panel {
    height: 360px;
    overflow: auto;
    margin-left: 5px; 
}
