@CHARSET "UTF-8";

.fileItem{
	padding: 10px;
	margin: 2px;
	margin-bottom: 10px;
	border-color: graytext;
	border-width: thin;
	border-style: solid;
}

.fileIcon{
	vertical-align: text-bottom;
	padding-right: 2px;
}

.primaryArrows{
	margin: 5px;
}