@CHARSET "UTF-8";

a:LINK {
	text-decoration: none;
	color: blue;
}

a:VISITED {
	text-decoration: none;
	color: blue;
}

a:HOVER {
	text-decoration: none;
	color: purple;
}

.fileItem{
	padding: 10px;
	margin: 2px;
	margin-bottom: 10px;
	border-color: graytext;
	border-width: thin;
	border-style: solid;
}

.fileIcon{
	vertical-align: text-bottom;
	padding-right: 2px;
}

.primaryArrows{
	margin: 5px;
}

.loaderImg{
	float: right;
	position: relative;
	left: -40%;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

.tooltipSeparator.rich-separator{
	background-image: none !important;
	background-color: #E5973E;
}

.modal{
}

.controlPanelclass{
    vertical-align: top;
    height: 100%;
    width: 50%;
}

.topCommandLink{
   float:right;
   padding-bottom:5px;
   padding-left:5px;
}

.rightCommand{
   float:right;
}

/* customType = p */
.pname {
	vertical-align: top;
	font-weight: bold;
	width: 175px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.pvalue {
	float: left;
	padding: 5px;
	width: 255px;
}

.ptext{
	width: 100%;
}
/* --- */
.out
{
    float: left;
    margin-top: -200em;
    margin-left: -200em;
}
#contenitore2 {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/force/img/sfondo_sb2.gif);
    background-position: left top;
    background-repeat: repeat-y;
    overflow: hidden;
}

#contenitore {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    background-image: url(/Immagini/sfondo_sb.gif);
    background-position: top right;
    background-repeat: repeat-y;
    overflow: hidden;
}
.titolo_cna {position:absolute;left:165px;top:24px;color:#ffffff;line-height:150%;font-size:125%;}
.titolo_cna h1 { display:inline; margin:0px; padding:0px; font-size:190%; font-weight:normal; }
.titolo_cna span { display:inline; margin:0px; padding:0px; font-size:190%; font-weight:normal; }
div#container{min-width: 775px !important; background: url('/force/img/sf_header_logo.gif') repeat-x left top;}

div#cnt_header { background: url('/force/img/sf_header.gif') no-repeat right top; width:100%; }
div#cnt_header div {  }
div#header_sx { float: left; width:160px; }
div#header_0 { margin: 0 0 0 165px; padding-top:72px; color:#ffffff; text-align:right;}
div#header_0 img {margin:0px; padding:0px; width:100%; height:68px; }
